@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: #CA8A03;
    --swiper-navigation-color: var(--swiper-theme-color);
    --swiper-navigation-color: #CA8A03;
    --swiper-pagination-color: #CA8A03;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: white;
}

[x-cloak] {
    display: none;
}
